@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100&display=swap');

:root {
  --primary-white: #fff;
  --primary-grey: grey;
  --primary-orange: #f9ab00;
  --primaty-dark: rgba(255,255,255,0);
}

body {
  font-family: "Roboto Condensed" sans-serif;
}

/* ########################### NAVBAR ################################## */
.logo{
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primaty-dark);
}

.navbar-brand {
  max-width:  17.25rem;
  padding: 0 !important;
  height: 8.25rem !important;
}

nav {
  background-color: var(--primary-grey) !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus{
  border-top: 0.1875rem solid var(--primary-orange); 
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
}